In [1]:
#Задание:
#Написать функцию, которая подсчитывает число покупателей, попадающих в каждую группу, 
#если нумерация ID сквозная и начинается с 0.
#На вход функция получает целое число n_customers (количество клиентов).

import pandas

IdList0 = [0, 1, 11, 11, 111, 1111, 11111, 111111, 1111111, 11111111, 111111111, 111111111, 91, 19, 99] #список с ID

print('введите количество пользователей n_customers')
n_customers = int(input()) #ввод количества пользователей

def NumIdInGroup(n_customers):
    WorkList = IdList0[:n_customers]   # указываем, с чем работаем
       #считаем номер группы для id
    GroupList = []
    GroupListUV = []
    NumIdInGroupList = []
    for val in WorkList:
        sum = 0
        while val > 0:
            digit = val % 10
            sum += digit
            val = val // 10
        GroupList.append(sum)
        if sum not in GroupListUV:   # Находим уникальные значения групп
            GroupListUV.append(sum)
            NumIdInGroupList.append(1) # +1 элемент, если новый элемент
        else:
            NumIdInGroupList[GroupListUV.index(sum)] += 1    # +1 к соответствующему количеству, если элемент уже есть
        
    df1 = pandas.DataFrame({'Номер группы': GroupListUV,
                           'Число покупателей': NumIdInGroupList})
    return df1

NumIdInGroup(n_customers)

введите количество пользователей n_customers
3

   Номер группы  Число покупателей
0             0                  1
1             1                  1
2             2                  1

In [27]:
#Задание:
#Написать функцию, аналогичную первой, (которая подсчитывает число покупателей, попадающих в каждую группу)
#если ID начинается с произвольного числа.
#На вход функция получает целые числа: n_customers (количество клиентов) 
#и n_first_id (первый ID в последовательности).

#Комментарий
# n_first_id ассоциируется с Номером ID, а "первый ID" ассоциируется со значением ID
# делаю для n_first_id = Номер ID в списке

import pandas

IdList0 = [0, 1, 11, 11, 111, 1111, 11111, 111111, 1111111, 11111111, 111111111, 111111111, 91, 19, 99] #список с ID

print('введите количество пользователей n_customers')
n_customers = int(input()) #ввод количества пользователей
print('номер ID, с которого начинать')
n_first_id = int(input()) #ввод количества пользователей


def NumIdInGroupSlice(n_customers, n_first_id):
    WorkList = IdList0[n_first_id:(n_first_id+n_customers)]   # указываем, с чем работаем
       #считаем номер группы для id
    GroupList = []
    GroupListUV = []
    NumIdInGroupList = []
    for val in WorkList:
        sum = 0
        while val > 0:
            digit = val % 10
            sum += digit
            val = val // 10
        GroupList.append(sum)
        if sum not in GroupListUV:   # Находим уникальные значения групп
            GroupListUV.append(sum)
            NumIdInGroupList.append(1)  # +1 элемент, если новый элемент
        else:
            NumIdInGroupList[GroupListUV.index(sum)] += 1    # +1 к соответствующему количеству, если элемент уже есть
        
    df2 = pandas.DataFrame({'Номер группы': GroupListUV,
                           'Число покупателей': NumIdInGroupList})        
    return df2

NumIdInGroupSlice(n_customers, n_first_id)

введите количество пользователей n_customers
20
номер ID, с которого начинать
0

    Номер группы  Число покупателей
0              0                  1
1              1                  1
2              2                  2
3              3                  1
4              4                  1
5              5                  1
6              6                  1
7              7                  1
8              8                  1
9              9                  2
10            10                  2
11            18                  1